[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "pypi"

[packages]
smbus2 = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.7.6"

[pipenv]
allow_prereleases = true
